MySQL (AWS RDS)

In [ ]:
!pip install mysql-connector-python
!pip install pymysql

In [71]:
import mysql.connector

connection = mysql.connector.connect(
    host='database-1.cny68em2qft0.ap-southeast-2.rds.amazonaws.com',
    user='Sukumari',
    password='daanvi19',
    database='my_db'
)

cursor = connection.cursor()

Create the Users Table

In [9]:
create_users_table = """
CREATE TABLE IF NOT EXISTS Users (
    user_id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    email VARCHAR(100) NOT NULL UNIQUE,
    password_hash VARCHAR(255) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

cursor.execute(create_users_table)
connection.commit()
print("Users table created successfully.")

Users table created successfully.

Create the Products Table

In [11]:
create_products_table = """
CREATE TABLE IF NOT EXISTS Products (
    product_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    price DECIMAL(10, 2) NOT NULL,
    category_id INT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

cursor.execute(create_products_table)
connection.commit()
print("Products table created successfully.")

Products table created successfully.

Create the Orders Tablecessfully.")

In [13]:
create_orders_table = """
CREATE TABLE IF NOT EXISTS Orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    order_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    total_amount DECIMAL(10, 2),
    FOREIGN KEY (user_id) REFERENCES Users(user_id)
);
"""

cursor.execute(create_orders_table)
connection.commit()
print("Orders table created successfully.")

Orders table created successfully.

Create the Order_Items Table

In [15]:
create_order_items_table = """
CREATE TABLE IF NOT EXISTS Order_Items (
    order_item_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT NOT NULL,
    price DECIMAL(10, 2) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);
"""

cursor.execute(create_order_items_table)
connection.commit()
print("Order_Items table created successfully.")

Order_Items table created successfully.

Create the Inventory Table

In [17]:
create_inventory_table = """
CREATE TABLE IF NOT EXISTS Inventory (
    product_id INT PRIMARY KEY,
    quantity_in_stock INT NOT NULL,
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);
"""

cursor.execute(create_inventory_table)
connection.commit()
print("Inventory table created successfully.")

Inventory table created successfully.

Insert Data into Users Table

In [19]:
insert_users = """
INSERT INTO Users (username, email, password_hash)
VALUES
('john_doe', 'john@example.com', 'hashed_password_1'),
('jane_doe', 'jane@example.com', 'hashed_password_2');
"""

cursor.execute(insert_users)
connection.commit()
print("Sample users inserted successfully.")

Sample users inserted successfully.

Insert Data into Products Table

In [21]:
insert_products = """
INSERT INTO Products (name, description, price, category_id)
VALUES
('Laptop', 'A high-performance laptop', 999.99, 1),
('Smartphone', 'A latest model smartphone', 499.99, 2);
"""

cursor.execute(insert_products)
connection.commit()
print("Sample products inserted successfully.")

Sample products inserted successfully.

Insert Data into Orders and Order_Items Tables

In [23]:
insert_orders = """
INSERT INTO Orders (user_id, total_amount)
VALUES
(1, 1499.98),
(2, 999.99);
"""

cursor.execute(insert_orders)
connection.commit()

insert_order_items = """
INSERT INTO Order_Items (order_id, product_id, quantity, price)
VALUES
(1, 1, 1, 999.99),
(1, 2, 1, 499.99),
(2, 1, 1, 999.99);
"""

cursor.execute(insert_order_items)
connection.commit()
print("Sample orders and order items inserted successfully.")

Sample orders and order items inserted successfully.

Insert Data into Inventory Table

In [25]:
insert_inventory = """
INSERT INTO Inventory (product_id, quantity_in_stock)
VALUES
(1, 100),
(2, 200);
"""

cursor.execute(insert_inventory)
connection.commit()
print("Sample inventory data inserted successfully.")

Sample inventory data inserted successfully.

Query the Users table

In [27]:
cursor.execute("SELECT * FROM Users;")
users = cursor.fetchall()
for user in users:
    print(user)

(1, 'john_doe', 'john@example.com', 'hashed_password_1', datetime.datetime(2024, 8, 27, 8, 41, 52))
(2, 'jane_doe', 'jane@example.com', 'hashed_password_2', datetime.datetime(2024, 8, 27, 8, 41, 52))

Query the Products table

In [29]:
cursor.execute("SELECT * FROM Products;")
products = cursor.fetchall()
for product in products:
    print(product)

(1, 'Laptop', 'A high-performance laptop', Decimal('999.99'), 1, datetime.datetime(2024, 8, 27, 8, 42, 29))
(2, 'Smartphone', 'A latest model smartphone', Decimal('499.99'), 2, datetime.datetime(2024, 8, 27, 8, 42, 29))

Query the Orders table

In [31]:
cursor.execute("SELECT * FROM Orders;")
orders = cursor.fetchall()
for order in orders:
    print(order)

(1, 1, datetime.datetime(2024, 8, 27, 8, 43, 15), Decimal('1499.98'))
(2, 2, datetime.datetime(2024, 8, 27, 8, 43, 15), Decimal('999.99'))

Query the Inventory table

In [33]:
cursor.execute("SELECT * FROM Inventory;")
inventory = cursor.fetchall()
for item in inventory:
    print(item)

(1, 100)
(2, 200)

Modify the Orders Table to Enable Partitioning

In [49]:
add_year_column = """
ALTER TABLE Orders
ADD COLUMN order_year INT GENERATED ALWAYS AS (YEAR(order_date)) STORED;
"""

cursor.execute(add_year_column)
connection.commit()
print("Year column added successfully.")

Year column added successfully.

Adding Indexes

In [55]:
create_index_users_email = """
CREATE INDEX idx_users_email ON Users(email);
"""

cursor.execute(create_index_users_email)
connection.commit()
print("Index on Users.email created successfully.")

Index on Users.email created successfully.

In [57]:
create_index_orders_date = """
CREATE INDEX idx_orders_date ON Orders(order_date);
"""

cursor.execute(create_index_orders_date)
connection.commit()
print("Index on Orders.order_date created successfully.")

Index on Orders.order_date created successfully.

In [59]:
create_index_order_items = """
CREATE INDEX idx_order_items ON Order_Items(order_id, product_id);
"""

cursor.execute(create_index_order_items)
connection.commit()
print("Composite index on Order_Items created successfully.")

Composite index on Order_Items created successfully.

In [61]:
create_index_inventory_product = """
CREATE INDEX idx_inventory_product ON Inventory(product_id);
"""

cursor.execute(create_index_inventory_product)
connection.commit()
print("Index on Inventory.product_id created successfully.")

Index on Inventory.product_id created successfully.

In [73]:
# Check foreign key constraints
check_fk_constraints = """
SELECT constraint_name 
FROM information_schema.key_column_usage 
WHERE table_name = 'orders' AND referenced_table_name IS NOT NULL;
"""

cursor.execute(check_fk_constraints)
fk_constraints = cursor.fetchall()

for fk in fk_constraints:
    print(f"Foreign Key Constraint: {fk[0]}")

Foreign Key Constraint: orders_ibfk_1

In [81]:
# Partition the products table by product_id
partition_products_table = """
ALTER TABLE products
PARTITION BY RANGE (product_id) (
    PARTITION p0 VALUES LESS THAN (1000),
    PARTITION p1 VALUES LESS THAN (2000),
    PARTITION p2 VALUES LESS THAN (3000),
    PARTITION p3 VALUES LESS THAN (MAXVALUE)
);
"""

In [83]:
# Partition the users table by user_id
partition_users_table = """
ALTER TABLE users
PARTITION BY RANGE (user_id) (
    PARTITION p0 VALUES LESS THAN (1000),
    PARTITION p1 VALUES LESS THAN (2000),
    PARTITION p2 VALUES LESS THAN (3000),
    PARTITION p3 VALUES LESS THAN (MAXVALUE)
);
"""

In [85]:
# Partition the orders table by order_date
partition_orders_table = """
ALTER TABLE orders
PARTITION BY RANGE (YEAR(order_date)) (
    PARTITION p0 VALUES LESS THAN (2010),
    PARTITION p1 VALUES LESS THAN (2015),
    PARTITION p2 VALUES LESS THAN (2020),
    PARTITION p3 VALUES LESS THAN (MAXVALUE)
);
"""

In [87]:
# Partition the order_items table by order_id
partition_order_items_table = """
ALTER TABLE order_items
PARTITION BY RANGE (order_id) (
    PARTITION p0 VALUES LESS THAN (1000),
    PARTITION p1 VALUES LESS THAN (2000),
    PARTITION p2 VALUES LESS THAN (3000),
    PARTITION p3 VALUES LESS THAN (MAXVALUE)
);
"""

In [93]:
# Drop foreign key constraints
drop_fk_constraint = """
ALTER TABLE orders DROP FOREIGN KEY fk_user_id;
"""

# Add foreign key constraints
add_fk_constraint = """
ALTER TABLE orders
ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(user_id);
"""