In [ ]:
!pip install psycopg2-binary sqlalchemy

Define and creating the table and Querying Data

In [91]:
from sqlalchemy import create_engine, Table, Column, Integer, Float, String, MetaData, select

# Database connection details
db_username = "postgres"
db_password = "daanvi19"
db_name = "timescaledb"
db_host = "database-6.cdewswea8e29.us-east-1.rds.amazonaws.com"
db_port = "5432"
connection_string = f"postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"

# Create engine
engine = create_engine(connection_string)

# Define metadata and table
metadata = MetaData()
example_table = Table(
    'example_table', metadata,
    Column('id', Integer, primary_key=True),
    Column('value', Float),
    Column('description', String),
)

# Create table in the database if it does not exist
metadata.create_all(engine)

# Query data
stmt = select(example_table)

with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(row)

Inserting Data

In [93]:
from sqlalchemy import insert

# Define data to insert
data = [
    {'id': 1, 'value': 23.5, 'description': 'Sample entry 1'},
    {'id': 2, 'value': 19.2, 'description': 'Sample entry 2'}
]

# Create an insert statement
stmt = insert(example_table).values(data)

# Execute the insert statement
with engine.connect() as conn:
    conn.execute(stmt)
    print("Data inserted successfully")

Data inserted successfully

Updating Data

In [95]:
from sqlalchemy import update

# Define update statement
stmt = update(example_table).where(example_table.c.id == 1).values(description='Updated entry')

# Execute the update statement
with engine.connect() as conn:
    conn.execute(stmt)
    print("Data updated successfully")

Data updated successfully

Deleting Data

In [97]:
from sqlalchemy import delete

# Define delete statement
stmt = delete(example_table).where(example_table.c.id == 1)

# Execute the delete statement
with engine.connect() as conn:
    conn.execute(stmt)
    print("Data deleted successfully")

Data deleted successfully

Create Indexes

In [103]:
from sqlalchemy import Index

# Define an index
index = Index('ix_example_table_value', example_table.c.value)

# Create the index in the database
with engine.connect() as conn:
    index.create(conn)